build/common/
build/depend.mak
build/diskc.img
build/diskd.img
build/geekos/
build/libc/
build/pagefile.bin
build/tools/builtFat.exe
build/tools/builtFat.exe.dSYM/
build/tools/gfs2f
build/tools/gfs2f.dSYM/
build/user/*.o
build/user/*.exe
